/* STYLE SECTIONING TAGS */
* {
   /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
   margin: 0;
   padding: 0;
   background-color: #F8F5ED;
   overflow-x: hidden;
   min-height: 100vh;
   
}

.halfpagebg {
   height: 60vh;
   background-image: url("https://www.economist.com/media-assets/image/20220709_MAP501.jpg");
   background-size: cover;
   background-position: center;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 40%;
}

.halfpagecolor {
   height: 50vh;
   background-color: #F8F5ED;
}

.container {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.introduction {
    padding:10px;
   flex-direction: column;
   align-items: center;
   flex: 1;
   max-width: 400px;
   display: inline-block;
   justify-items: space-between;
   vertical-align: top;
   text-align: center;
   margin: 0 20px;
   transform: translate(10%, -70%);
}

.contact-info {
   position: fixed;
   bottom: 0;
}

#contact-email {
   
   font-size: 18px;
   color: #914E56;
   font-family: Trebuchet MS;
   opacity: 50%;

}

.takeaction {
   padding: 10px;
   flex-direction: column;
   align-items: center;
   flex: 1;
   max-width: 300px;
   transform: translate(60%, -22%);
   display: inline-block;
   justify-items: space-between;
   vertical-align: top;
  


}

.homecontent {
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: 1400px;
   margin: 0 auto;
   transform: translateY(-20%);
}

.video-section-home {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: center;
   gap: 20px;
   margin-bottom: 40px;
   transform:translateX(-0.5%);
}

.libraryAbout {
   display: flex;
   flex-direction: row;
   align-items: center;
   flex:1px;
   transform: translateY(-20%);
}

.booksabout1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   transform: translateX(-8%);
}
.booksabout2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   transform: translateX(-35%);
}
.booksabout3 {
   display: flex;
   flex-direction: column;
   align-items: center;
   transform: translateX(-65%);
  
}
.aboutcontent {
   padding: 20px;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;
   gap: 40px;
   width: 100%;
   max-width: 1400px;
   margin: 0 auto;
   transform: translateY(-40%);
}

.photo-section-about {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1;
   max-width: 400px;
   transform: translate(10%, 20%);
}

.photo-section-about-first {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1;
   max-width: 400px;
   transform: translate(10%, 40%);
}

.photo-section-about-second {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1;
   max-width: 400px;
   transform: translate(10%, 60%);
}

.photo-section-about-third {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1;
   max-width: 400px;
   transform: translate(10%, 50%);
}

.text-section-about {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex: 1;
   max-width: 600px;
   transform: translate(-10%, 40%);
}

.text-section-about-first {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex: 1;
   max-width: 600px;
   transform: translate(-10%, 15%);
}

.text-section-about-second {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex: 1;
   max-width: 600px;
   transform: translate(-10%, 25%);
}

.text-section-about-third {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex: 1;
   max-width: 600px;
   transform: translate(-10%, 25%);
}

.factgenerator {
   align-content: center;
   text-align: center;
   transform: translateY(-20%);
   margin-top: 40px;
   padding: 20px;
}

/* STYLE TEXT */

h1 {
   color: #25130E;
   font-size: 95px;
   text-align: center;
   margin: 0;
   transform: translateY(-10%);
   font-family: Impact;
}

.subtitle {
   width: 1000px;
   height: 50px;
   border: 2px solid #973B3B;
   padding: 10px;
   margin: 20px auto;
   display: block;
   align-content: center;
   margin-bottom: 30px;
   transform: translateY(-450%);
   background: #973B3B
}

.infotext {
   font-size: 30px;
   text-align: center;
   color: #F8F5ED;
   font-family: impact;

}

.introtext {
   font-size: 20px;
   color: #4D303F;
   font-family: Trebuchet MS;
   text-align: center;
   margin-top: 30px;
}

.actiontext {
   font-size: 25px;
   color: #973B3B;
   font-family: Trebuchet MS;
}

.hometext {
   font-size: 20px;
   color: #973B3B;
   font-family: Trebuchet MS;
   width: 400px;
   display: block;
   text-align: center;
}


.bookrecomm {
   font-size: 18px;
   color: #973B3B;
   font-family: Trebuchet MS;
   width: 600px;
   display: block;
   margin: 20px auto;
   text-align: center;
}

.booklink {
   font-size: 15px;
   color: #B1C936;
   font-family: Trebuchet MS;
   text-decoration: none;
   cursor: pointer;
}

.headingsabout {
   width: 1000px;
   height: 50px;
   border: 2px solid #973B3B;
   padding: 10px;
   margin: 20px auto;
   display: block;
   align-content: center;
   margin-bottom: 30px;
   background: #973B3B;
   color: #F8F5ED;
   text-align: center;
   font-size: 30px;
   font-family: impact;
   transform: translateY(-300%)
}

.abouttext {
   font-size: 20px;
   color: #973B3B;
   font-family: Trebuchet MS;
   width: 100%;
   display: block;
   margin: 20px 0;
   text-align: left;
   line-height: 1.5;
}

h2 {
   font-size: 70px;
   color: #4D303F;
   font-family: impact;
   text-align: center;
   transform: translateY(-350%);
}

.actionheading {
   font-size: 30px;
   color: #973B3B;
   font-family: impact;
   text-align: center;
   transform: translateY(-700%);
}

.triggerwarning {
   font-size: 30px;
   color: #4D303F;
   font-family: Trebuchet MS;
   text-align: center;
   transform: translateY(-400%);
   display: block;
}

.boycottheading {
   font-size: 50px;
   color: #4D303F;
   width: 150px;
   height: 50px;
   text-align: center;
   font-family: impact;
   margin: 20px auto;
}

.shareheading {
   font-size: 50px;
   color: #4D303F;
   width: 150px;
   height: 50px;
   text-align: center;
   font-family: impact;
   margin: 20px auto;
}

.voiceheading {
   font-size: 50px;
   color: #4D303F;
   width: 150px;
   height: 50px;
   text-align: center;
   font-family: impact;
   margin: 20px auto;
}

.voicelinks {
   font-size: 20px;
   color: #B1C936;
   font-family: Trebuchet MS;
   text-decoration: none;
   padding: 20px auto;
}

.voicelinks:hover {
  color: #F8F5ED;
}

h5 {
   font-size: 30px;
   color: #4D303F;
   font-family: Trebuchet MS;
}

#fact {
   font-size: 20px;
   color: #973B3B;
   font-family: Trebuchet MS;
}

#factbutton {
   background-color: #973B3B;
   border: 2px solid #973B3B;
   color: #B1C936;
   padding: 10px 20px;
   text-align: center;
   font-size: 15px;
   font-family: Trebuchet MS;
   cursor: pointer;
   margin-bottom: 20px;
}

/* STYLE IMAGES */

.infovideo {
   width: 430px;
   height: 330px;
   display: block;
   margin: 0 auto;
   flex-shrink: 0;
}

.introimage {
   width: 380px;
   height: 380px;
   display: block;
   margin: 0 auto 20px auto;
   object-fit: cover;
}

.actionimage {
   width: 250px;
   height: 250px;
   justify-content: space-between;
}

.infobook {
   width: 250px;
   height: 370px;
   display: block;
}

.aboutphoto {
   max-width: 400px;
   height: auto;
   display: block;
   margin: 20px 0;
}

/* STYLE NAV BAR */

.navbar {
   border: 2px solid #FBF6F4;
   padding: 10px;
   width: 100%;
   background: #FBF6F4;
   display: flex;
   justify-content: center;
    box-sizing: border-box;
   
}

.navlinks {
   list-style-type: none;
   margin: 0;
   padding: 0px;
   background-color: #973B3B;
   display: flex;
   justify-content: center;
   font-family: Trebuchet MS;
   position: fixed;
   top: 0;
   width: 122%;
   height: 70px;
   z-index: 200;
    flex-wrap: wrap;
}

li a {
   color: #F8F5ED;
   text-decoration: none;
   padding: 20px 24px;
   font-size: 24px;
   align-items: center;
   display: flex;
}

li a:hover {
   color: #B1C936
}

li a:hover:not(.active) {
  background-color: #973B3B;
}

li a.active {
  background-color: #973B3B;
}


/* STYLE BUTTONS */

.navbutton {
   background-color: #973B3B;
   border: none;
   color: #973B3B;
   padding: 15px 30px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 25px;
   cursor: pointer;
}

.bookbutton {
   background-color: #973B3B;
   border: none;
   color: #973B3B;
   padding: 15px 30px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   cursor: pointer;
}

.booklink:hover {
   color: #F8F5ED
}

.voicebutton {
   background-color: #973B3B;
   border: none;
   color: #B1C936;
   padding: 15px 30px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   cursor: pointer;
   justify-content: space-around;
   margin-top: 10px;
}

.sharelinks {
   color: #718122;
   display: inline-block;
   font-size: 20px;
   cursor: pointer;
   justify-content: space-around;
   margin-top: 10px;
   font-family: Trebuchet MS;
   transform: translateY(20px);
}

.sharelinks:hover {
   color: #B1C936;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* ADD MORE! */
